In [144]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [145]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Refined.csv")
df

,Unnamed: 0,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_emergency,diag_1,diag_2,diag_3,change,diabetesMed,readmitted
0,1,1,0,2,3,59,0,18,0,276.00,250.01,255.0,1,1,0
1,2,2,0,3,2,11,5,13,0,648.00,250.00,18.0,0,1,0
2,3,1,1,4,2,44,1,16,0,8.00,250.43,403.0,1,1,0
3,4,1,1,5,1,51,0,8,0,197.00,157.00,250.0,1,1,0
4,5,1,1,6,3,31,6,16,0,414.00,411.00,250.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98047,101761,2,1,8,3,51,0,16,0,250.13,291.00,458.0,1,1,0
98048,101762,2,0,9,5,33,3,18,0,560.00,276.00,787.0,0,1,0
98049,101763,1,1,8,1,53,0,9,0,38.00,590.00,296.0,1,1,0
98050,101764,1,0,9,10,45,2,21,0,996.00,285.00,998.0,1,1,0
98051,101765,1,1,8,6,13,3,3,0,530.00,530.00,787.0,0,0,0

In [146]:
df["diag_1"].value_counts()
df["diag_1"]=df["diag_1"].drop(df[df["diag_1"]=="?"].index,axis=0)
df["diag_2"]=df["diag_2"].drop(df[df["diag_2"]=="?"].index,axis=0)
df["diag_3"]=df["diag_3"].drop(df[df["diag_3"]=="?"].index,axis=0)

In [147]:
df["diag_1"]=df["diag_1"].astype(float)
df["diag_2"]=df["diag_2"].astype(float)
df["diag_3"]=df["diag_3"].astype(float)
df=df.dropna()

In [148]:
df["diag_1"]=df["diag_1"].apply(lambda x:0 if x<=139 else x)

In [149]:
df["diag_1"]=df["diag_1"].apply(lambda x:1 if  x>140 and x<=239 else x)

In [150]:
df["diag_1"]=df["diag_1"].apply(lambda x:2 if  x>239 and x<=279 else x)

In [151]:
df["diag_1"]=df["diag_1"].apply(lambda x:3 if  x>279 and x<=289 else x)

In [152]:
df["diag_1"]=df["diag_1"].apply(lambda x:4 if  x>289 and x<=319 else x)

In [153]:
df["diag_1"]=df["diag_1"].apply(lambda x:5 if  x>319 and x<=389 else x)

In [154]:
df["diag_1"]=df["diag_1"].apply(lambda x:6 if  x>389 and x<=459 else x)

In [155]:
df["diag_1"]=df["diag_1"].apply(lambda x:7 if  x>459 and x<=519 else x)

In [156]:
df["diag_1"]=df["diag_1"].apply(lambda x:8 if  x>519 and x<=579 else x)

In [157]:
df["diag_1"]=df["diag_1"].apply(lambda x:9 if  x>=580 and x<=629 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:10 if  x>=630 and x<=679 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:11 if  x>=680 and x<=709 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:12 if  x>=710 and x<=739 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:13 if  x>=740 and x<=759 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:14 if  x>=760 and x<=779 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:15 if  x>=780 and x<=799 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:16 if  x>=800 and x<=999 else x)
df

,Unnamed: 0,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_emergency,diag_1,diag_2,diag_3,change,diabetesMed,readmitted
0,1,1,0,2,3,59,0,18,0,2.0,250.01,255.0,1,1,0
1,2,2,0,3,2,11,5,13,0,10.0,250.00,18.0,0,1,0
2,3,1,1,4,2,44,1,16,0,0.0,250.43,403.0,1,1,0
3,4,1,1,5,1,51,0,8,0,1.0,157.00,250.0,1,1,0
4,5,1,1,6,3,31,6,16,0,6.0,411.00,250.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98047,101761,2,1,8,3,51,0,16,0,2.0,291.00,458.0,1,1,0
98048,101762,2,0,9,5,33,3,18,0,8.0,276.00,787.0,0,1,0
98049,101763,1,1,8,1,53,0,9,0,0.0,590.00,296.0,1,1,0
98050,101764,1,0,9,10,45,2,21,0,16.0,285.00,998.0,1,1,0
98051,101765,1,1,8,6,13,3,3,0,8.0,530.00,787.0,0,0,0

In [158]:
#replace diag 2
df["diag_2"]=df["diag_2"].apply(lambda x:9 if  x>=580 and x<=629 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:10 if  x>=630 and x<=679 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:11 if  x>=680 and x<=709 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:12 if  x>=710 and x<=739 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:13 if  x>=740 and x<=759 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:14 if  x>=760 and x<=779 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:15 if  x>=780 and x<=799 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:16 if  x>=800 and x<=999 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:0 if x<=139 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:1 if  x>140 and x<=239 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:2 if  x>239 and x<=279 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:3 if  x>279 and x<=289 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:4 if  x>289 and x<=319 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:5 if  x>319 and x<=389 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:6 if  x>389 and x<=459 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:7 if  x>459 and x<=519 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:8 if  x>519 and x<=579 else x)

In [159]:
#replace diag_2
df["diag_3"]=df["diag_3"].apply(lambda x:0 if x<=139 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:1 if  x>140 and x<=239 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:2 if  x>239 and x<=279 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:3 if  x>279 and x<=289 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:4 if  x>289 and x<=319 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:5 if  x>319 and x<=389 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:6 if  x>389 and x<=459 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:7 if  x>459 and x<=519 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:8 if  x>519 and x<=579 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:9 if  x>=580 and x<=629 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:10 if  x>=630 and x<=679 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:11 if  x>=680 and x<=709 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:12 if  x>=710 and x<=739 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:13 if  x>=740 and x<=759 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:14 if  x>=760 and x<=779 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:15 if  x>=780 and x<=799 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:16 if  x>=800 and x<=999 else x)
df

,Unnamed: 0,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_emergency,diag_1,diag_2,diag_3,change,diabetesMed,readmitted
0,1,1,0,2,3,59,0,18,0,2.0,2.0,2.0,1,1,0
1,2,2,0,3,2,11,5,13,0,10.0,2.0,0.0,0,1,0
2,3,1,1,4,2,44,1,16,0,0.0,2.0,6.0,1,1,0
3,4,1,1,5,1,51,0,8,0,1.0,1.0,2.0,1,1,0
4,5,1,1,6,3,31,6,16,0,6.0,6.0,2.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98047,101761,2,1,8,3,51,0,16,0,2.0,4.0,6.0,1,1,0
98048,101762,2,0,9,5,33,3,18,0,8.0,2.0,15.0,0,1,0
98049,101763,1,1,8,1,53,0,9,0,0.0,0.0,4.0,1,1,0
98050,101764,1,0,9,10,45,2,21,0,16.0,3.0,16.0,1,1,0
98051,101765,1,1,8,6,13,3,3,0,8.0,8.0,15.0,0,0,0

In [160]:
df1=pd.read_csv("/content/drive/MyDrive/sairam.csv")
df1.drop(columns="diag_2",axis=1,inplace=True)
df1.drop(columns="diag_3",axis=1,inplace=True)

In [161]:
X = df1.iloc[:, :-1].values
y = df1.iloc[:, -1].values

In [170]:
from sklearn.model_selection import cross_val_score,train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix
def train(model,x,y):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.40,random_state=42)
    model.fit(x_train,y_train)
    pred=model.predict(x_test)
    # cv_score= cross_val_score(model,x,y,cv=3,scoring="accuracy").mean()
    acc=accuracy_score(y_test,pred)
    # print("CV_score: ",cv_score)
    print("ACCURACY: ",acc)
    print(confusion_matrix(y_test,pred))

In [171]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(criterion = 'entropy',random_state=0)
train(dtc,X,y)

ACCURACY:  0.7913107773896637
[[30382  4497]
 [ 3688   654]]