In [1990]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [1991]:
df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/diabetic_data.csv')

In [1992]:
df1

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [1993]:
df1['readmitted'] = df1['readmitted'].replace('>30', 0)
df1['readmitted'] = df1['readmitted'].replace('<30', 1)
df1['readmitted'] = df1['readmitted'].replace('NO', 0)

In [1994]:
df1.isnull().sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
weight                      0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
payer_code                  0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

In [1995]:
df= df1[["race","gender","age" ,"time_in_hospital","num_lab_procedures","num_procedures","num_medications","number_emergency","diag_1","diag_2", 
         "metformin","repaglinide","nateglinide","chlorpropamide","glimepiride","acetohexamide","glipizide","glyburide","tolbutamide","pioglitazone","rosiglitazone","acarbose","miglitol","troglitazone","tolazamide","examide","citoglipton" ,"insulin" ,"glyburide-metformin","glipizide-metformin","glimepiride-pioglitazone","metformin-rosiglitazone"  ,"metformin-pioglitazone"                     
,"diag_3","change","diabetesMed","readmitted","max_glu_serum","A1Cresult","discharge_disposition_id","number_diagnoses","number_outpatient","number_inpatient","weight"]]

In [1996]:
df

,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_emergency,diag_1,diag_2,...,change,diabetesMed,readmitted,max_glu_serum,A1Cresult,discharge_disposition_id,number_diagnoses,number_outpatient,number_inpatient,weight
0,Caucasian,Female,[0-10),1,41,0,1,0,250.83,?,...,No,No,0,None,None,25,1,0,0,?
1,Caucasian,Female,[10-20),3,59,0,18,0,276,250.01,...,Ch,Yes,0,None,None,1,9,0,0,?
2,AfricanAmerican,Female,[20-30),2,11,5,13,0,648,250,...,No,Yes,0,None,None,1,6,2,1,?
3,Caucasian,Male,[30-40),2,44,1,16,0,8,250.43,...,Ch,Yes,0,None,None,1,7,0,0,?
4,Caucasian,Male,[40-50),1,51,0,8,0,197,157,...,Ch,Yes,0,None,None,1,5,0,0,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,Male,[70-80),3,51,0,16,0,250.13,291,...,Ch,Yes,0,None,>8,3,9,0,0,?
101762,AfricanAmerican,Female,[80-90),5,33,3,18,0,560,276,...,No,Yes,0,None,None,4,9,0,1,?
101763,Caucasian,Male,[70-80),1,53,0,9,0,38,590,...,Ch,Yes,0,None,None,1,13,1,0,?
101764,Caucasian,Female,[80-90),10,45,2,21,0,996,285,...,Ch,Yes,0,None,None,3,9,0,1,?
101765,Caucasian,Male,[70-80),6,13,3,3,0,530,530,...,No,No,0,None,None,1,9,0,0,?

In [1997]:
# Import label encoder
from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

In [1998]:
df["metformin"]=label_encoder.fit_transform(df["metformin"])
df["repaglinide"]=label_encoder.fit_transform(df["repaglinide"])
df["nateglinide"]=label_encoder.fit_transform(df["nateglinide"])
df["chlorpropamide"]=label_encoder.fit_transform(df["chlorpropamide"])
df["glimepiride"]=label_encoder.fit_transform(df["glimepiride"])
df["acetohexamide"]=label_encoder.fit_transform(df["acetohexamide"])
df["glipizide"]=label_encoder.fit_transform(df["glipizide"])
df["glyburide"]=label_encoder.fit_transform(df["glyburide"])
df["tolbutamide"]=label_encoder.fit_transform(df["tolbutamide"])
df["pioglitazone"]=label_encoder.fit_transform(df["pioglitazone"])
df["rosiglitazone"]=label_encoder.fit_transform(df["rosiglitazone"])
df["acarbose"]=label_encoder.fit_transform(df["acarbose"])
df["miglitol"]=label_encoder.fit_transform(df["miglitol"])
df["troglitazone"]=label_encoder.fit_transform(df["troglitazone"])
df["tolazamide"]=label_encoder.fit_transform(df["tolazamide"])
df["examide"]=label_encoder.fit_transform(df["examide"])
df["citoglipton"]=label_encoder.fit_transform(df["citoglipton"])
df["insulin"]=label_encoder.fit_transform(df["insulin"])
df["glyburide-metformin"]=label_encoder.fit_transform(df["glyburide-metformin"])
df["glipizide-metformin"]=label_encoder.fit_transform(df["glipizide-metformin"])
df["glimepiride-pioglitazone"]=label_encoder.fit_transform(df["glipizide-metformin"])
df["metformin-rosiglitazone"]=label_encoder.fit_transform(df["metformin-rosiglitazone"])
df["metformin-pioglitazone"]=label_encoder.fit_transform(df["metformin-pioglitazone"])
df["max_glu_serum"]=label_encoder.fit_transform(df["max_glu_serum"])
df["A1Cresult"]=label_encoder.fit_transform(df["A1Cresult"])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [1999]:
df['change'] = df['change'].replace('Ch', 1)
df['change'] = df['change'].replace('No', 0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [2000]:
df["gender"].value_counts()

Female             54708
Male               47055
Unknown/Invalid        3
Name: gender, dtype: int64

In [2001]:
df["gender"] = df["gender"].drop(df[df["gender"] == "Unknown/Invalid"].index, axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [2002]:
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [2003]:
df['readmitted'] = df['readmitted'].replace('>30', 0)
df['readmitted'] = df['readmitted'].replace('<30', 1)
df['readmitted'] = df['readmitted'].replace('NO', 0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [2004]:
df['diabetesMed'] = df['diabetesMed'].replace('Yes', 1)
df['diabetesMed'] = df['diabetesMed'].replace('No', 0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [2005]:
df.dropna(subset = ['gender'], inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [2006]:
df["age"].value_counts()

[70-80)     26066
[60-70)     22482
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: age, dtype: int64

In [2007]:
for i in range(0,10):
    df['age'] = df['age'].replace('['+str(10*i)+'-'+str(10*(i+1))+')', i+1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [2008]:
df["age"].value_counts()

8     26066
7     22482
6     17256
9     17197
5      9685
4      3775
10     2793
3      1657
2       691
1       161
Name: age, dtype: int64

In [2009]:
df

,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_emergency,diag_1,diag_2,...,change,diabetesMed,readmitted,max_glu_serum,A1Cresult,discharge_disposition_id,number_diagnoses,number_outpatient,number_inpatient,weight
0,Caucasian,0.0,1,1,41,0,1,0,250.83,?,...,0,0,0,2,2,25,1,0,0,?
1,Caucasian,0.0,2,3,59,0,18,0,276,250.01,...,1,1,0,2,2,1,9,0,0,?
2,AfricanAmerican,0.0,3,2,11,5,13,0,648,250,...,0,1,0,2,2,1,6,2,1,?
3,Caucasian,1.0,4,2,44,1,16,0,8,250.43,...,1,1,0,2,2,1,7,0,0,?
4,Caucasian,1.0,5,1,51,0,8,0,197,157,...,1,1,0,2,2,1,5,0,0,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,1.0,8,3,51,0,16,0,250.13,291,...,1,1,0,2,1,3,9,0,0,?
101762,AfricanAmerican,0.0,9,5,33,3,18,0,560,276,...,0,1,0,2,2,4,9,0,1,?
101763,Caucasian,1.0,8,1,53,0,9,0,38,590,...,1,1,0,2,2,1,13,1,0,?
101764,Caucasian,0.0,9,10,45,2,21,0,996,285,...,1,1,0,2,2,3,9,0,1,?
101765,Caucasian,1.0,8,6,13,3,3,0,530,530,...,0,0,0,2,2,1,9,0,0,?

In [2010]:
df.shape

(101763, 44)

In [2011]:
rdx = df[df['race'] == '?'].index

In [2012]:
rdx = df[df['race'] == '?'].index
df = df.drop(rdx, axis = 0)

In [2013]:
df['race'].value_counts()

Caucasian          76099
AfricanAmerican    19210
Hispanic            2037
Other               1505
Asian                641
Name: race, dtype: int64

In [2014]:
df['race'] = df['race'].replace('Caucasian', 1)
df['race'] = df['race'].replace('AfricanAmerican', 2)
df['race'] = df['race'].replace('Hispanic', 3)
df['race'] = df['race'].replace('Asian', 4)
df['race'] = df['race'].replace('Other', 5)

In [2015]:
df["diag_1"]=df["diag_1"].drop(df[df["diag_1"]=="?"].index,axis=0)
df["diag_2"]=df["diag_2"].drop(df[df["diag_2"]=="?"].index,axis=0)
df["diag_3"]=df["diag_3"].drop(df[df["diag_3"]=="?"].index,axis=0)

In [2016]:
def map_diagnosis(data, cols):
  for col in cols:
        data.loc[(data[col].str.contains("V")) | (data[col].str.contains("E")), col] = -1
        data[col] = data[col].astype(np.float16)

In [2017]:
map_diagnosis(df,["diag_1","diag_2","diag_3"])

In [2018]:
df["diag_1"]=df["diag_1"].astype(float)
df["diag_2"]=df["diag_2"].astype(float)
df["diag_3"]=df["diag_3"].astype(float)
df=df.dropna()

In [2019]:
df["diag_1"]=df["diag_1"].apply(lambda x:0 if x<=139 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:1 if  x>140 and x<=239 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:2 if  x>239 and x<=279 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:3 if  x>279 and x<=289 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:4 if  x>289 and x<=319 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:5 if  x>319 and x<=389 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:6 if  x>389 and x<=459 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:7 if  x>459 and x<=519 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:8 if  x>519 and x<=579 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:9 if  x>=580 and x<=629 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:10 if  x>=630 and x<=679 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:11 if  x>=680 and x<=709 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:12 if  x>=710 and x<=739 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:13 if  x>=740 and x<=759 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:14 if  x>=760 and x<=779 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:15 if  x>=780 and x<=799 else x)
df["diag_1"]=df["diag_1"].apply(lambda x:16 if  x>=800 and x<=999 else x)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [2020]:
#replace diag 2
df["diag_2"]=df["diag_2"].apply(lambda x:9 if  x>=580 and x<=629 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:10 if  x>=630 and x<=679 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:11 if  x>=680 and x<=709 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:12 if  x>=710 and x<=739 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:13 if  x>=740 and x<=759 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:14 if  x>=760 and x<=779 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:15 if  x>=780 and x<=799 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:16 if  x>=800 and x<=999 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:0 if x<=139 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:1 if  x>140 and x<=239 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:2 if  x>239 and x<=279 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:3 if  x>279 and x<=289 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:4 if  x>289 and x<=319 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:5 if  x>319 and x<=389 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:6 if  x>389 and x<=459 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:7 if  x>459 and x<=519 else x)
df["diag_2"]=df["diag_2"].apply(lambda x:8 if  x>519 and x<=579 else x)

In [2021]:
#replace diag_3
df["diag_3"]=df["diag_3"].apply(lambda x:0 if x<=139 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:1 if  x>140 and x<=239 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:2 if  x>239 and x<=279 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:3 if  x>279 and x<=289 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:4 if  x>289 and x<=319 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:5 if  x>319 and x<=389 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:6 if  x>389 and x<=459 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:7 if  x>459 and x<=519 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:8 if  x>519 and x<=579 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:9 if  x>=580 and x<=629 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:10 if  x>=630 and x<=679 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:11 if  x>=680 and x<=709 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:12 if  x>=710 and x<=739 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:13 if  x>=740 and x<=759 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:14 if  x>=760 and x<=779 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:15 if  x>=780 and x<=799 else x)
df["diag_3"]=df["diag_3"].apply(lambda x:16 if  x>=800 and x<=999 else x)

In [2022]:
#df.drop(['diag_1',"diag_2","diag_3"],axis=1,inplace=True)

In [2023]:
df["race"].value_counts()

1    75079
2    18881
3     1984
5     1483
4      625
Name: race, dtype: int64

In [2024]:
df3=df[["readmitted","race","age","time_in_hospital","num_lab_procedures","num_medications","metformin","repaglinide",'nateglinide','chlorpropamide','glimepiride','glipizide'
,'glyburide','pioglitazone','rosiglitazone','acarbose','miglitol','insulin','glyburide-metformin','glipizide-metformin','glimepiride-pioglitazone','diabetesMed',"diag_1","diag_2","diag_3","number_emergency", "num_procedures","discharge_disposition_id","gender","number_diagnoses","number_outpatient","number_inpatient"]]

In [2026]:
df3

,readmitted,race,age,time_in_hospital,num_lab_procedures,num_medications,metformin,repaglinide,nateglinide,chlorpropamide,...,diag_1,diag_2,diag_3,number_emergency,num_procedures,discharge_disposition_id,gender,number_diagnoses,number_outpatient,number_inpatient
1,0,1,2,3,59,18,1,1,1,1,...,2.0,2.0,2.0,0,0,1,0.0,9,0,0
2,0,2,3,2,11,13,1,1,1,1,...,10.0,2.0,0.0,0,5,1,0.0,6,2,1
3,0,1,4,2,44,16,1,1,1,1,...,0.0,2.0,6.0,0,1,1,1.0,7,0,0
4,0,1,5,1,51,8,1,1,1,1,...,1.0,1.0,2.0,0,0,1,1.0,5,0,0
5,0,1,6,3,31,16,1,1,1,1,...,6.0,6.0,2.0,0,6,1,1.0,9,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,0,2,8,3,51,16,2,1,1,1,...,2.0,4.0,6.0,0,0,3,1.0,9,0,0
101762,0,2,9,5,33,18,1,1,1,1,...,8.0,2.0,15.0,0,3,4,0.0,9,0,1
101763,0,1,8,1,53,9,2,1,1,1,...,0.0,0.0,4.0,0,0,1,1.0,13,1,0
101764,0,1,9,10,45,21,1,1,1,1,...,16.0,3.0,16.0,0,2,3,0.0,9,0,1
101765,0,1,8,6,13,3,1,1,1,1,...,8.0,8.0,15.0,0,3,1,1.0,9,0,0

In [2027]:
cor = df3.corr()
cor

,readmitted,race,age,time_in_hospital,num_lab_procedures,num_medications,metformin,repaglinide,nateglinide,chlorpropamide,...,diag_1,diag_2,diag_3,number_emergency,num_procedures,discharge_disposition_id,gender,number_diagnoses,number_outpatient,number_inpatient
readmitted,1.000000,-0.006677,0.013550,0.043398,0.019902,0.037773,-0.024184,0.010457,0.000331,-0.004841,...,-0.022282,-0.007418,0.016961,0.060557,-0.012470,0.050422,-0.002544,0.046491,0.018408,0.163811
race,-0.006677,1.000000,-0.138316,-0.002497,0.012856,-0.054415,-0.004333,-0.006352,0.009382,-0.004704,...,-0.000461,-0.025260,-0.000781,0.020388,-0.013973,-0.012343,-0.031277,-0.080525,-0.043665,-0.004324
age,0.013550,-0.138316,1.000000,0.096687,0.016611,0.019955,-0.061277,0.045084,0.016085,0.012853,...,0.019843,0.110208,0.046703,-0.091750,-0.042699,0.114274,-0.052631,0.202696,0.020007,-0.049168
time_in_hospital,0.043398,-0.002497,0.096687,1.000000,0.318632,0.464212,-0.005873,0.030792,0.004231,0.004172,...,-0.126978,-0.000740,0.086322,-0.010508,0.191164,0.162903,-0.028961,0.211225,-0.010913,0.072282
num_lab_procedures,0.019902,0.012856,0.016611,0.318632,1.000000,0.267863,-0.042500,0.013613,-0.005806,0.000421,...,-0.066956,0.018852,0.041618,-0.002142,0.058710,0.022601,-0.002358,0.150257,-0.008625,0.039198
num_medications,0.037773,-0.054415,0.019955,0.464212,0.267863,1.000000,0.059138,0.021436,0.021889,0.002650,...,-0.005420,0.067330,0.068086,0.012127,0.382952,0.106696,-0.022085,0.241501,0.042652,0.062905
metformin,-0.024184,-0.004333,-0.061277,-0.005873,-0.042500,0.059138,1.000000,0.001906,0.019178,-0.009501,...,0.031626,-0.024821,-0.020398,-0.008534,-0.037598,-0.009119,0.000654,-0.070561,-0.011537,-0.065709
repaglinide,0.010457,-0.006352,0.045084,0.030792,0.013613,0.021436,0.001906,1.000000,-0.000741,-0.003188,...,-0.006750,0.005323,0.006463,0.010179,0.001661,-0.005418,-0.005137,0.034618,0.002938,0.011592
nateglinide,0.000331,0.009382,0.016085,0.004231,-0.005806,0.021889,0.019178,-0.000741,1.000000,-0.002224,...,-0.001764,0.001167,0.001247,0.004917,-0.005013,-0.011237,-0.005626,0.013992,0.001317,-0.006916
chlorpropamide,-0.004841,-0.004704,0.012853,0.004172,0.000421,0.002650,-0.009501,-0.003188,-0.002224,1.000000,...,0.002791,0.005309,-0.004777,-0.004927,0.005859,0.016133,0.003748,-0.011892,-0.004891,-0.006572
glimepiride,-0.008011,-0.012083,0.031088,0.010074,-0.000878,0.037640,0.038843,-0.006994,0.006361,-0.005780,...,0.000784,0.014951,-0.003249,0.001440,0.008519,-0.017283,0.000643,0.008722,-0.011885,-0.013086
glipizide,0.000441,-0.001868,0.040736,0.010539,0.008934,0.048335,0.065751,-0.013062,-0.013159,-0.008360,...,0.004696,0.011071,-0.001316,-0.003910,0.002728,-0.012513,0.027255,-0.013014,0.004441,-0.024912
glyburide,-0.003827,-0.015087,0.059209,0.016273,-0.005189,0.027575,0.116513,-0.018199,-0.018030,-0.005404,...,0.010017,0.014761,-0.005318,-0.026041,0.002849,0.038877,0.029201,-0.029824,-0.005166,-0.035085
pioglitazone,-0.006467,-0.015761,0.008723,0.005161,-0.014561,0.061996,0.052870,0.016662,0.024308,-0.006183,...,0.023439,-0.009782,-0.004608,0.000029,0.012107,-0.012657,0.005895,-0.000855,0.010772,-0.026587
rosiglitazone,-0.005412,-0.008037,0.000469,0.006148,-0.007910,0.050198,0.084172,0.013014,0.013499,0.000657,...,0.014311,-0.006292,-0.004539,-0.008049,0.011008,-0.005661,0.010141,-0.012091,-0.004045,-0.019864
acarbose,-0.004010,-0.008373,0.006878,0.005781,-0.000080,0.017608,0.009644,0.010666,-0.000278,-0.001478,...,0.003093,-0.000731,-0.000018,-0.000439,-0.001782,0.005835,0.011412,0.005950,0.012221,-0.001110
miglitol,-0.005385,-0.001902,0.007214,0.003241,-0.002782,0.002540,0.004414,0.012560,0.009886,-0.000418,...,0.001657,0.003778,-0.001972,0.000374,-0.001104,0.004646,0.002642,-0.003422,-0.004049,-0.006152
insulin,0.003152,0.016569,-0.019074,0.047196,0.034391,0.080230,0.003661,-0.003087,0.000066,-0.007536,...,-0.023767,-0.008518,0.010082,0.018930,0.011880,-0.021452,0.002786,0.034629,0.014249,0.013542
glyburide-metformin,-0.001739,0.008129,-0.002220,-0.001647,-0.009571,0.008669,-0.021002,-0.004045,-0.006577,-0.002262,...,0.015309,-0.001445,0.001118,0.002535,-0.001476,-0.004582,0.003795,-0.006911,-0.006554,-0.011518
glipizide-metformin,-0.001308,-0.005223,0.001910,-0.000736,-0.007681,0.003435,-0.003137,-0.001328,-0.000926,-0.000318,...,0.005107,0.001693,-0.003467,-0.002473,-0.005475,0.000368,0.007116,-0.004185,0.001454,-0.000982
glimepiride-pioglitazone,-0.001308,-0.005223,0.001910,-0.000736,-0.007681,0.003435,-0.003137,-0.001328,-0.000926,-0.000318,...,0.005107,0.001693,-0.003467,-0.002473,-0.005475,0.000368,0.007116,-0.004185,0.001454,-0.000982
diabetesMed,0.027059,0.006061,-0.020812,0.062335,0.031936,0.189318,0.246582,0.063280,0.044143,0.015181,...,-0.022705,-0.020075,-0.004520,0.026318,-0.004686,-0.028127,0.015742,0.026647,0.017213,0.026846
diag_1,-0.022282,-0.000461,0.019843,-0.126978,-0.066956,-0.005420,0.031626,-0.006750,-0.001764,0.002791,...,1.000000,-0.021044,-0.028096,-0.008390,-0.014863,0.017758,-0.035061,-0.009697,-0.010411,-0.048679
diag_2,-0.007418,-0.025260,0.110208,-0.000740,0.018852,0.067330,-0.024821,0.005323,0.001167,0.005309,...,-0.021044,1.000000,-0.034641,-0.010988,0.070645,-0.003392,0.031512,0.041063,-0.015861,0.001689
diag_3,0.016961,-0.000781,0.046703,0.086322,0.041618,0.068086,-0.020398,0.006463,0.001247,-0.004777,...,-0.028096,-0.034641,1.000000,0.002167,0.042160,0.025873,0.005074,0.162407,0.022858,0.011477
number_emergency,0.060557,0.020388,-0.091750,-0.010508,-0.002142,0.012127,-0.008534,0.010179,0.004917,-0.004927,...,-0.008390,-0.010988,0.002167,1.000000,-0.038723,-0.025990,-0.020466,0.054616,0.091033,0.267174
num_procedures,-0.012470,-0.013973,-0.042699,0.191164,0.058710,0.382952,-0.037598,0.001661,-0.005013,0.005859,...,-0.014863,0.070645,0.042160,-0.038723,1.000000,0.013879,0.061339,0.058973,-0.026453,-0.067535
discharge_disposition_id,0.050422,-0.012343,0.114274,0.162903,0.022601,0.106696,-0.009119,-0.005418,-0.011237,0.016133,...,0.017758,-0.003392,0.025873,-0.025990,0.013879,1.000000,-0.020865,0.038418,-0.010278,0.019037
gender,-0.002544,-0.031277,-0.052631,-0.028961,-0.002358,-0.022085,0.000654,-0.005137,-0.005626,0.003748,...,-0.035061,0.031512,0.005074,-0.020466,0.061339,-0.020865,1.000000,-0.001914,-0.011791,-0.013857
number_diagnoses,0.046491,-0.080525,0.202696,0.211225,0.150257,0.241501,-0.070561,0.034618,0.013992,-0.011892,...,-0.009697,0.041063,0.162407,0.054616,0.058973,0.038418,-0.001914,1.000000,0.091414,0.101244
number_outpatient,0.018408,-0.043665,0.020007,-0.010913,-0.008625,0.042652,-0.011537,0.002938,0.001317,-0.004891,...,-0.010411,-0.015861,0.022858,0.091033,-0.026453,-0.010278,-0.011791,0.091414,1.000000,0.105979
number_inpatient,0.163811,-0.004324,-0.049168,0.072282,0.039198,0.062905,-0.065709,0.011592,-0.006916,-0.006572,...,-0.048679,0.001689,0.011477,0.267174,-0.067535,0.019037,-0.013857,0.101244,0.105979,1.000000

In [2028]:
#df3=df3[["diabetesMed","insulin","glipizide","age","time_in_hospital",	"num_lab_procedures",	"num_medications","repaglinide","nateglinide","readmitted"]]

In [2029]:
df3

,readmitted,race,age,time_in_hospital,num_lab_procedures,num_medications,metformin,repaglinide,nateglinide,chlorpropamide,...,diag_1,diag_2,diag_3,number_emergency,num_procedures,discharge_disposition_id,gender,number_diagnoses,number_outpatient,number_inpatient
1,0,1,2,3,59,18,1,1,1,1,...,2.0,2.0,2.0,0,0,1,0.0,9,0,0
2,0,2,3,2,11,13,1,1,1,1,...,10.0,2.0,0.0,0,5,1,0.0,6,2,1
3,0,1,4,2,44,16,1,1,1,1,...,0.0,2.0,6.0,0,1,1,1.0,7,0,0
4,0,1,5,1,51,8,1,1,1,1,...,1.0,1.0,2.0,0,0,1,1.0,5,0,0
5,0,1,6,3,31,16,1,1,1,1,...,6.0,6.0,2.0,0,6,1,1.0,9,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,0,2,8,3,51,16,2,1,1,1,...,2.0,4.0,6.0,0,0,3,1.0,9,0,0
101762,0,2,9,5,33,18,1,1,1,1,...,8.0,2.0,15.0,0,3,4,0.0,9,0,1
101763,0,1,8,1,53,9,2,1,1,1,...,0.0,0.0,4.0,0,0,1,1.0,13,1,0
101764,0,1,9,10,45,21,1,1,1,1,...,16.0,3.0,16.0,0,2,3,0.0,9,0,1
101765,0,1,8,6,13,3,1,1,1,1,...,8.0,8.0,15.0,0,3,1,1.0,9,0,0

In [2030]:
x = df3.drop('readmitted', axis = 1)

In [2031]:
y = df3['readmitted']

In [2032]:
from sklearn.model_selection import train_test_split

In [2033]:
x_train, x_test, y_train , y_test = train_test_split(x,y, test_size = 0.1, random_state=0)

In [2034]:
x_train

,race,age,time_in_hospital,num_lab_procedures,num_medications,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,...,diag_1,diag_2,diag_3,number_emergency,num_procedures,discharge_disposition_id,gender,number_diagnoses,number_outpatient,number_inpatient
30218,1,4,3,42,7,1,1,1,1,1,...,2.0,8.0,8.0,0,3,1,1.0,6,0,0
13309,1,7,10,77,21,2,1,1,1,1,...,8.0,8.0,6.0,0,5,6,0.0,9,0,0
11329,1,9,1,30,11,1,1,1,1,1,...,15.0,0.0,6.0,0,0,18,0.0,8,0,0
8108,1,7,4,58,18,2,1,1,1,1,...,6.0,7.0,2.0,0,0,2,1.0,5,0,0
20538,2,7,3,23,18,1,1,1,1,1,...,12.0,3.0,2.0,0,1,3,1.0,7,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22202,2,9,6,64,56,1,1,1,1,1,...,6.0,0.0,16.0,0,6,11,0.0,9,0,0
48199,2,8,2,52,8,1,1,1,1,1,...,6.0,7.0,2.0,0,0,1,1.0,7,0,0
44872,1,8,14,1,11,1,1,1,1,1,...,7.0,6.0,6.0,0,0,3,0.0,7,0,0
45839,1,8,8,31,17,2,1,1,1,1,...,7.0,0.0,7.0,0,0,6,0.0,9,0,0
70890,1,8,3,56,19,1,1,1,1,1,...,15.0,2.0,5.0,0,0,3,1.0,9,1,0

In [2035]:
from imblearn.over_sampling import SMOTE

In [2036]:
x_train, y_train = SMOTE(sampling_strategy='minority').fit_resample(x_train, y_train)

In [2037]:
# from imblearn.over_sampling import RandomOverSampler
# oversample = RandomOverSampler(sampling_strategy='minority')
# x_train, y_train = oversample.fit_resample(x_train, y_train)

In [2038]:
# from imblearn.under_sampling import RandomUnderSampler
# undersample = RandomUnderSampler(sampling_strategy='majority')
# x_train, y_train = undersample.fit_resample(x_train, y_train)

In [2039]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test = sc.transform(x_test)
print(X_train)
print(X_test)

[[-0.3811243  -2.04975076 -0.4736841  ... -0.87688073 -0.2711538
  -0.5148903 ]
 [-0.3811243  -0.01667837  1.94224682 ...  0.84422922 -0.2711538
  -0.5148903 ]
 [-0.3811243   1.33870322 -1.16395008 ...  0.2705259  -0.2711538
  -0.5148903 ]
 ...
 [-0.3811243   0.66101243 -0.12855111 ... -0.87688073 -0.2711538
  -0.5148903 ]
 [-0.3811243  -1.37205996 -0.4736841  ... -1.45058405 -0.2711538
  -0.5148903 ]
 [-0.3811243   0.66101243 -1.16395008 ...  0.2705259  -0.2711538
  -0.5148903 ]]
[[-0.3811243   0.66101243 -0.4736841  ...  0.84422922 -0.2711538
   0.20045704]
 [ 1.32139333 -0.69436916 -0.81881709 ... -0.30317741  0.61418426
   0.20045704]
 [-0.3811243   0.66101243 -0.81881709 ...  0.84422922  0.61418426
   1.63115172]
 ...
 [-0.3811243   0.66101243 -0.12855111 ...  0.84422922 -0.2711538
   0.91580438]
 [-0.3811243  -0.01667837 -1.16395008 ... -0.30317741 -0.2711538
  -0.5148903 ]
 [-0.3811243  -2.04975076 -0.4736841  ... -0.87688073 -0.2711538
  -0.5148903 ]]

In [2040]:
from sklearn.metrics import classification_report

In [2041]:
from sklearn.neighbors import KNeighborsClassifier
k=KNeighborsClassifier()
k.fit(X_train,y_train)
result=k.predict(X_test)

In [2042]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, result)
print(cm)

[[6308 2419]
 [ 704  375]]

In [2043]:
print(accuracy_score(y_test,result))

0.681521517438303

In [2044]:
print(classification_report(y_test, result))

              precision    recall  f1-score   support

           0       0.90      0.72      0.80      8727
           1       0.13      0.35      0.19      1079

    accuracy                           0.68      9806
   macro avg       0.52      0.54      0.50      9806
weighted avg       0.82      0.68      0.73      9806

In [2045]:
x = df3.drop('readmitted', axis = 1)

In [2046]:
y = df3['readmitted']

In [2047]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x, y,test_size=0.2,random_state=0,stratify=df.readmitted)
print(X_train)
print(Y_train)
print(Y_test)
print(Y_test)

       race  age  time_in_hospital  num_lab_procedures  num_medications  \
94989     1    5                 2                  50               16
28316     1    7                 4                  54               14
10107     1    6                 9                  55               41
64921     1    8                 4                  32               19
96459     1    9                 3                  43               15
...     ...  ...               ...                 ...              ...
2883      1    6                12                  83               43
41268     1    6                 1                  54                8
25200     1    6                10                  58               19
20737     1    7                 3                  59               11
10749     1    7                 3                  22                6

       metformin  repaglinide  nateglinide  chlorpropamide  glimepiride  ...  \
94989          2            1            1               1            1  ...
28316          2            1            1               1            1  ...
10107          1            1            1               1            1  ...
64921          1            1            1               1            1  ...
96459          1            1            1               1            1  ...
...          ...          ...          ...             ...          ...  ...
2883           1            1            1               1            1  ...
41268          1            1            1               1            1  ...
25200          1            1            1               1            1  ...
20737          1            1            1               1            1  ...
10749          1            1            1               1            1  ...

       diag_1  diag_2  diag_3  number_emergency  num_procedures  \
94989     4.0     4.0     0.0                 0               1
28316     2.0     7.0     0.0                 0               1
10107     6.0     5.0     6.0                 0               6
64921     6.0     6.0     9.0                 0               2
96459     7.0     2.0     3.0                 0               0
...       ...     ...     ...               ...             ...
2883      6.0     4.0     7.0                 1               6
41268     6.0     2.0     2.0                 0               6
25200     0.0     0.0    11.0                 0               5
20737     0.0     6.0     9.0                 0               3
10749     2.0     1.0     8.0                 0               0

       discharge_disposition_id  gender  number_diagnoses  number_outpatient  \
94989                         5     1.0                 9                  0
28316                         1     1.0                 5                  0
10107                        18     1.0                 7                  0
64921                         1     1.0                 6                  0
96459                         1     0.0                 9                  1
...                         ...     ...               ...                ...
2883                          1     1.0                 9                  0
41268                         1     0.0                 4                  0
25200                         1     1.0                 9                  0
20737                         1     0.0                 6                  0
10749                         5     1.0                 8                  1

       number_inpatient
94989                 1
28316                 0
10107                 0
64921                 3
96459                 0
...                 ...
2883                  1
41268                 0
25200                 1
20737                 0
10749                 2

[78441 rows x 31 columns]
94989    0
28316    0
10107    0
64921    0
96459    0
        ..
2883     0
41268    0
25200    0
20737    0
10749    0
Name: readmitted, Length: 78441, dtype: int64
70120    0
76615    0
2276     0
49346    0
83425    0
        ..
92199    0
76540    0
60688    0
24529    1
45640    0
Name: readmitted, Length: 19611, dtype: int64
70120    0
76615    0
2276     0
49346    0
83425    0
        ..
92199    0
76540    0
60688    0
24529    1
45640    0
Name: readmitted, Length: 19611, dtype: int64

In [2048]:
from imblearn.under_sampling import RandomUnderSampler
undersample = RandomUnderSampler(sampling_strategy='majority')
X_train, Y_train = undersample.fit_resample(X_train,Y_train)

In [2049]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
print(X_train)
print(X_test)

[[ 1.01630228  0.54166087  2.13217559 ...  0.77695271 -0.31941423
  -0.5528125 ]
 [ 1.01630228  0.54166087  3.12936605 ...  0.77695271 -0.31941423
  -0.5528125 ]
 [-0.45661645  0.54166087 -1.19179259 ...  0.77695271 -0.31941423
  -0.5528125 ]
 ...
 [-0.45661645 -0.73208205 -1.19179259 ...  0.21682548  0.4622787
   3.13732814]
 [-0.45661645  0.54166087 -0.52699895 ...  0.77695271 -0.31941423
   0.06221094]
 [-0.45661645  1.17853233 -0.52699895 ... -0.34330174 -0.31941423
  -0.5528125 ]]
[[ 1.01630228 -0.73208205  0.13779468 ...  0.77695271 -0.31941423
  -0.5528125 ]
 [-0.45661645 -0.09521059  1.13498514 ...  0.77695271 -0.31941423
  -0.5528125 ]
 [ 1.01630228 -0.09521059 -1.19179259 ... -1.46355619 -0.31941423
  -0.5528125 ]
 ...
 [-0.45661645  0.54166087 -0.19460214 ...  0.77695271  1.24397162
  -0.5528125 ]
 [-0.45661645 -0.09521059 -0.85939577 ...  0.77695271 -0.31941423
  -0.5528125 ]
 [-0.45661645 -2.00582497  0.4701915  ...  0.77695271 -0.31941423
  -0.5528125 ]]

In [2050]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(X_train,Y_train)
Y_predic=rf.predict(X_test)

In [2051]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test,Y_predic)
print(cm)

[[10884  6514]
 [  898  1315]]

In [2052]:
accuracy_score(Y_test,Y_predic)

0.6220488501351282